@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-family: Noto Sans SC, Noto Sans SC-Regular;
}

label {
  font-weight: 600;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.mbt-24{
  margin: 24px auto;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  margin: 16px;
  .app-container-box{
    margin-top: 16px;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
  }
}
.search-form{
  padding-bottom: 0;
  overflow: hidden;
  .el-form-item{
    margin-right: 12px;
  }
  .el-form-item.rtbtn{
    float: right;
    margin-right: 0;
  }
  .el-input,
  .el-select,
  .el-textarea{
    width: 228px;
  }
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.text-center {
  text-align: center
}
.text-right{
  text-align: right;
}
.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.login-container {
	.el-input--medium .el-input__inner{
	  height: 40px;
	  line-height: 40px;
    border-color: #e4e7ed;
    border-radius: 5px;
    &:-webkit-autofill {
      box-shadow: 0 0 0px 1000px #fff inset !important;
    }
	}
  .el-form-item--medium .el-form-item__content{
    line-height: 40px;
  }
}
.title{
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.main-txt{
  color: $mainTxt;
}
.normal-txt{
  color: $normalTxt;
}
.sub-txt{
  color: $subTxt;
}
.success-txt{
  color: $green;
}
.danger-txt{
  color: $red;
}
.primary-txt{
  color: $primaryBlue;
}
// 穿梭框
.my-transfer{
  margin-bottom: 20px;
  text-align: center;
  .el-transfer-panel{
    width: 202px;
    text-align: left;
    .el-checkbox{
      margin-right: 0;
    }
  }
  .el-transfer__button{
    display: block;
    margin:0;
    padding: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    &:first-child{
      margin-bottom: 10px;
    }
  }
}

.w100{
  width: 100%!important;
}

// 弹窗样式
.addForm{
  padding: 0 60px;
}
.dialog-scroll-wrap{
  padding: 20px 10px;
  height: 60vh;
  overflow: auto;
  // 外层轨道
  &::-webkit-scrollbar {
    width:4px;
    height:2px;
    background:#fff;
    border-radius:2px;
  }
  //内层轨道
  &::-webkit-scrollbar-thumb{
    display:block;
    width:2px;
    margin:0 auto;
    border-radius: 2px;
    background:#C0C4CC;
  }
}
